#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.imageclass button{
  display: none;
}
.imageclass:hover button{
  display: block;
}
/* .imageclass:hover {
  width: 11px;
  height: 11px;
} */.blurred {
  filter: blur(5px); /* Add the desired blur effect here */
}

/* #glow-container {
  position: relative;
}

#glow-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  animation: glow 1s infinite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

.animate-gradient {
  animation: gradient 1s linear infinite;
  background-image: linear-gradient(135deg, #4285f4, #ff1e1e, #fbbc05, #34a853);
  background-size: 400% 400%;
  background-position: 0 100%;
}

@keyframes gradient {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.left-half {
  width: 80%;
  float: left;
}
.right-half {
  width: 20%;
  float: left;
}

/* Add some styles for better visibility */
.left-half {
  background-color: lightgray;
}
.right-half {
  background-color: lightblue;
}

/* Clear the float to prevent layout issues */
.clear {
  clear: both;
}